@import '../../assets/styles/baseFunction';

:global {
  .round{
    width: pxRem(680);
    margin: pxRem(90) auto 0;
    background: $taskBg;
    border-radius: pxRem(8);
    padding: pxRem(50) pxRem(30) pxRem(30);
    position: relative;
    box-sizing: border-box;
    min-height: pxRem(220);
    z-index: 2;
    &:before{
      content:" ";
      display: block;
      width: pxRem(294);
      height: pxRem(73);
      position: absolute;
      top: pxRem(-72);
      left: 50%;
      margin-left: pxRem(-147);
      background: url(../../assets/images/corner.png)no-repeat;
      background-size: 100% 100%;
    }
    &:after{
      content:" ";
      display: block;
      width: pxRem(750);
      height: pxRem(41);
      position: absolute;
      bottom: pxRem(-41);
      left: pxRem(-35);;
      background: url(../../assets/images/di-bg.png)no-repeat;
      background-size: 100% 100%;
      z-index: 1;
    }
    &.round-active{
      .wrap{ display: -webkit-box; }
    }
    .wrap{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../../assets/images/wrap.png)repeat;
      z-index: 4;
      border-radius: pxRem(8);
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: vertical;
      display: none;
      &:before{
        content:" ";
        display: block;
        width: pxRem(294);
        height: pxRem(73);
        position: absolute;
        top: pxRem(-72);
        left: 50%;
        margin-left: pxRem(-147);
        background: url(../../assets/images/corner-wrap.png)no-repeat;
        background-size: 100% 100%;
      }
      .wrap-text{
        height: pxRem(60);
        line-height: pxRem(60);
        color: #f9ea00;
        background: rgba(54,119,203,0.8);
        font-size: $font28;
        padding: 0 pxRem(14);
      }
      .wrap-suo{
        width: pxRem(133);
        margin-top: pxRem(20);
      }
    }
    .round-title{
      position: absolute;
      top: pxRem(-58);
      left: 50%;
      width: pxRem(317);
      height: pxRem(96);
      margin-left: pxRem(-158);
      text-align: center;
      // background: url(../../assets/images/yibiaopan.png)no-repeat;
      background-size: 100% 100%;
      font-size: $font36;
      color: #fff;
      font-weight: bold;
      line-height: pxRem(96);
      box-sizing: border-box;
      padding-top: pxRem(12);
    }
    .round-text{
      font-size: $font28;
      color: #fff;
      line-height: pxRem(56);
      text-align: center;
    }
  }
}